div{
    overscroll-behavior: none;

}
html,body{
    overscroll-behavior: none;

}
#sketch-container{
    position: fixed;
    top:0;
    left: 0;
    z-index: -100;
    
}
#control-container{
    position: absolute;
    z-index: 10;
    bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--sep-small);
    font-size: var(--size-small);
    

}
#control-container div{
    padding: var(--sep-xsmall);
    display: flex;
    background-color: rgba(0, 0, 0, 0.769);
    backdrop-filter: blur(5px) sepia(0.6);
    
}
#control-container label{
    color: white;
    margin: 0 var(--sep-xsmall);
}
