#hero-image{

    object-fit: cover;
    margin :var(--sep-xsmall) auto;
    width:70vw;
    height:70vw;
    width: 70svw;
    height: 70svw;
   
    -webkit-mask-image: url(/masks/circle-mask.png);
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    
    mask-image: url(/masks/circle-mask.png);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
   
}
@media screen and (min-width:640px) {
    #hero-div{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    #hero-image{
        width:50vw;
        height:50vw;
        width: 50svw;
        height: 50svw;
    }    
}
