.display-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--sep-normal);
    margin-top: var(--sep-normal);
}

/* list element */
.display-section li {
    background: rgb(var(--seco-06));
    width: 40vw;
    width: 40svw;
    border-radius: 10px;

    transition: transform var(--time-slow), background var(--time-normal);
    transition-delay: 0s;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 8px rgb(var(--high-06),0.1);

}

.display-section li:hover {
    transform: scale(1.03);
    background: rgb(var(--seco-08));

}

/* image element */
.display-section img {
    opacity: 0.9;
    position: relative;
    vertical-align: top;
    object-fit: cover;
    transition: opacity var(--time-normal), transform var(--time-slow);
    transition-delay: 0s;
    transition-timing-function: var(--transition-ease);
    border-radius: 10px;

    filter: brightness(1.4) saturate(1.7);
    -webkit-filter: brightness(1.4) saturate(1.7);
}

.display-section li:hover img {
    opacity: 0.6;
    transform: scale(1.5);
}

/* line break  */
.display-section li .content .line-break {
    transition: opacity var(--time-fast);
    background-color: white;
    height: 1px;

}

.display-section li:hover .content .line-break {
    opacity: 0;
}

/* content div  */
.display-section li .content {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: rgb(var(--prim-03));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--sep-xsmall);
}

/* h3 element  */
.display-section .content h3 {
    background-color: rgba(var(--high-07),0.4);
    backdrop-filter: blur(20px);
    text-align: center;
    border-radius: 10px;
    transition: background-color var(--time-fast), color var(--time-fast);
    transition-delay: 0s;
    transition-timing-function: var(--transition-ease);

}

.display-section li:hover .content h3 {
    background-color: rgba(var(--prim-08),0.4);
    
    color: rgb(var(--high-01));
}

.display-section .content h3,
.display-section .content p {

    padding: var(--sep-small) 0;

}

/* paragraph element  */
.display-section li .content p {
    opacity: 0;
    position: absolute;
    top: 40%;
    transition: opacity var(--time-normal), top var(--time-fast);
    transition-delay: 0s;
}

.display-section li:hover .content p {
    opacity: 1;
    top: 10%;
}

@media screen and (max-width : 640px) {
    .display-section ul {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .display-section li {

        width: 70vw;
        width: 70svw;

    }
}
@media (prefers-reduced-motion){
    .display-section li:hover img{
        transition-timing-function:ease-in-out ;
    }
    .display-section li:hover img {
        opacity: 0.6;
        transform: scale(1.1);
    }
    .display-section li {
        transition: background var(--time-normal);
        transition-delay: 0s;
    }
    .display-section li:hover{
        transform: none;
    }
    .display-section .content h3 {
        transition: background-color var(--time-normal), color var(--time-normal);
        transition-delay: 0s;
    }

}