.radio-div input[type="radio"],
.radio-div input[type="checkbox"] {
  display: none;
}

.radio-div label {
  display: block;
  transition: all 0.5s;
  padding: 1rem;
}
.radio-div input[type="radio"]:checked + label,
.radio-div input[type="checkbox"]:checked + label {
  background-color: blue;
}

.radio-div input[type="radio"]:not(:checked) + label,
.radio-div input[type="checkbox"]:not(:checked) + label {
  background-color: aliceblue;
}
