.logo {
  font-family: "Arch", "Itim", "Maconda", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 0px rgb(21, 5, 55);
  transition: transform 0.5s ease-in-out;
}
.logo:hover {
  transform: scale(1.06);
}
