---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Devloper Harshit - blogs">
  <p>blog section is on development</p>
  <Link href="/">Go to homepage </Link>
</Layout>

<style></style>
