.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform var(--time-fast);
    transition-delay: 0s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

}
.ham.active{
    transform: rotate(45deg) scale(0.7);
}
.line {
    fill: none;
    transition: stroke-dasharray var(--time-fast), stroke-dashoffset var(--time-fast), stroke-width var(--time-fast);
    transition-delay: 0s;
    stroke: rgb(var(--seco-01));
    stroke-linecap: round;
}

.ham .line{
    stroke-width: 3.5;
}

.ham.active .line {
    stroke-width: 2.0;
}

.ham .top {
    stroke-dasharray: 40 82;
}

.ham .middle {
    stroke-dasharray: 40 111;
}

.ham .bottom {
    stroke-dasharray: 40 161;
}

.ham.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.ham.active .middle {
    stroke-dashoffset: 23px;
}

.ham.active .bottom {
    stroke-dashoffset: -83px;
}