
nav{
    min-height: 50px;

}


.mobile-nav{
    position: fixed;
    text-align: center;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left var(--time-fast);
    transition-delay: 0s;
    color: #fff;
    backdrop-filter: blur(5px) sepia(0.2) ;
    background-color: rgba(4, 4, 55, 0.289);
    
}

.mobile-nav.is-active{
    left: 0;
    
}
header{
    background: linear-gradient(#ffffff,#ffffffe2 70%,rgba(255, 255, 255, 0.922));   

}
