@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
 @font-face {
   font-family: Pacifico;
   src: url(/fonts/Pacifico-Regular.ttf);
}

 :root{
    --size-small:0.8rem;
    --size-normal:1.0rem;
    --size-large:1.3rem;
    --size-xlarge:2.0rem;

    
    --weight-thin: 200;
    --weight-normal:400;
    --weight-dark:600;
    --weight-xdark:900;

    --sep-xsmall:0.3rem;
    --sep-small:0.7rem;
    --sep-normal:1.0rem;
    --sep-large:4.0rem;
    --sep-xlarge:6.0rem;
    

    
    --time-slow: 1.3s;
    --time-normal: 0.7s;
    --time-fast: 0.5s;
    --transition-ease:cubic-bezier(0.81, 0.23, 0.29, 1.01);

    --my-bg:#21092c;
    --my-color:#f8f8f8;
 }
 @media (prefers-color-scheme:light){
    :root{
        --my-bg:#fff;
        --my-color:#1f1b1b;
    }
    
}
 body,html{
    background-color: var(--my-bg);
    color: var(--my-color);
    scroll-behavior: smooth;
    scroll-padding-top: var(--sep-xlarge);
    
 }
 .logo{
   color: black;
   font-family: Pacifico ,monospace,sans-serif;
   font-size: var(--size-xlarge);
   padding: var(--sep-xsmall);
   
   

 }
 .line-break{
    width: 95%;
    margin :auto;
    height: 1px;
    background-color: var(--my-color);
}
section:hover  h2 a.nav-tag,section:focus  h2 a.nav-tag,section:active  h2 a.nav-tag{
   opacity: 1;
}
