a,
span,
button,
h2,
h3 {
  font-family: "Itim", "Poppins", sans-serif;
}
p,
h1 {
  font-family: "Poppins", sans-serif;
}
@font-face {
  font-family: Pacifico;
  src: url(/fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Arch;
  src: url(/fonts/ArchitectsDaughter-Regular.ttf);
}

@font-face {
  font-family: Itim;
  src: url(/fonts/Itim-Regular.ttf);
}

@font-face {
  font-family: Maconda;
  src: url(/fonts/Macondo-Regular.ttf);
}
a {
  text-decoration: none;
}
