---
import Header from "../components/Header.astro";
import "../styles/Anchor.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-ico" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --grid-size: 120px;
  }

  body {
    padding: 0;
    margin: 0;
    background-color: azure;
    background:
      linear-gradient(-15deg, #e49efbb9, #f0ffffb9) fixed,
      url("/grid2.png") center / var(--grid-size) repeat;

    position: relative;
  }

  main {
    padding-top: 5rem;
  }

  a,
  span,
  button,
  h2,
  h3 {
    font-family: "Itim", "Poppins", sans-serif;
  }
  p,
  h1 {
    font-family: "Poppins", sans-serif;
  }

  @font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico-Regular.ttf);
  }
  @font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Medium.ttf);
  }

  @font-face {
    font-family: Arch;
    src: url(/fonts/ArchitectsDaughter-Regular.ttf);
  }

  @font-face {
    font-family: Itim;
    src: url(/fonts/Itim-Regular.ttf);
  }

  @font-face {
    font-family: Maconda;
    src: url(/fonts/Macondo-Regular.ttf);
  }
  a {
    text-decoration: none;
  }
</style>
