

.accordion li {
    list-style: none;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 3px;
    
    background-color: rgb(247, 247, 247);
    box-shadow: 2px 2px 10px -1px rgb(30, 6, 51) -2px -2px 10px -1px rgba(233, 233, 234, 0.901)
}
.accordion li label{
    display: flex;
    color: rgb(93, 14, 177);
    align-items: baseline;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}
label::before{
    content: "#";
    font-size: 1.7rem;
    margin-right: 10px ;
    font-weight: 800;
}
.accordion input{
    display: none;
}
.accordion .content{
    color: #555;
    padding: 0 100px;
    line-height: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}
.accordion input:checked ~  .content {
   max-height: 600px;
  
}
input:checked ~ label::before {
    content: "-";
 
}