
.accordion li {
    list-style: none;
    width: 80%;
    padding: var(--sep-small);
    margin: var(--sep-small) auto;
    border-radius: 3px;
    
    background: rgba(var(--prim-01),0.7);
    backdrop-filter: blur(20px);
}
.accordion li label{
    display: flex;
    color: rgb(var(--seco-08));
    align-items: baseline;
    font-size: var(--size-large);
    font-weight: var(--weight-normal);
    cursor: pointer;
}
.accordion label::before{
    content: "+";
    font-size: var(--size-xlarge);
    margin-right: var(--sep-small) ;
    font-weight: var(--weight-dark);
}
.accordion input{
    display: none;
}


.accordion .content {
    color: rgb(var(--high-08));
    
    font-weight: var(--weight-dark);
    padding: 0 var(--sep-normal);
    line-height: var(--size-normal);
    display: flex;
    flex-direction: column;
    gap: var(--sep-small);
    max-height: 0px;
    overflow: hidden;
    transition: var(--time-slow);
    transition-delay: 0s;
}

.accordion input:checked ~  .content {
   max-height: 600px;
  
}
.accordion input:checked ~ label::before {
    content: "-";
 
}